{% extends 'layout.html' %}

{% block content %}
{%from "_macros.html" import render_field%}

<div class="d-flex justify-content-evenly">
    <div class="col-">
        <h1>Calcular resistencias</h1>
        <form method="post" class="form-group">
            {{form.csrf_token}}
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            {{render_field(form.banda1, class_="form-control")}}
            {{render_field(form.banda2, class_="form-control")}}
            {{render_field(form.banda3, class_="form-control")}}
            {{render_field(form.tolerancia,class_="form-control")}}
            {{render_field(form.submit, class_="btn btn-primary")}}
            <!-- <button type="submit" class="btn btn-primary mt-3">
                <i class="bi bi-calculator-fill"></i> Calcular
            </button> -->
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th>Resistencia</th>
                    <th>Tolerancia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{form.banda1["data"]}}</td>
                    <td>{{form.banda2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}